:root {
  --Cyan-600: rgb(77, 150, 168);
  --Cyan-300: rgb(143, 227, 249);
  --Purple-600: rgb(133, 95, 177);
  --Purple-300: rgb(217, 184, 255);
  --Slate-900: rgb(40, 40, 61);
  --Slate-600: rgb(135, 135, 157);
  --Slate-300: rgb(209, 209, 223);
  --White: rgb(250, 250, 250);
}

/* STYLES */
/* FONT SIZES: 64, 40, 18, 16  */
/* (4, 2.5, 1.125, 1) */
/* SPACING: 112, 80, 72, 64, 56, 40, 32, 24, 16, 8, 4 */
/* (7, 5, 4.5, 4, 3.5, 2.5, 2, 1.5, 1, 0.5, 0.25) */

html {
  font-size: clamp(10px, 1.125vw, 20px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  /* including both vw and dvw to account for mobile/tablet UI elements not seen in the chrome dev tools*/
  width: 100dvw;
  width: 100vw;
  height: auto;
  background-color: var(--White);
}

.header-container {
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 7rem;
}

.company-img {
  transform: translate(-2rem, 0px);
}

.header-middle {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30.5rem;
  padding: 4rem 0;
}

.header-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 28rem;
  height: 100%;
  /* background-color: coral; */
}

.header-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  color: var(--Slate-900);
}

.header-text {
  font-size: 1.25rem;
  color: var(--Slate-600);
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.download-btn {
  font-size: 1.25rem;
  padding: 1.25rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--Cyan-600);
  color: var(--White);
}

.download-btn-ver {
  color: var(--Cyan-300);
}

.download-btn:hover {
  background-color: var(--Cyan-300);
}

.download-btn:hover .download-btn-ver {
  color: var(--Purple-600);
}

.what-btn {
  font-size: 1.25rem;
  padding: 1.25rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--Purple-600);
  color: var(--White);
}

.what-btn:hover {
  background-color: var(--Purple-300);
}

/* .header-img-left-container {
} */

.header-img-left {
  /* background-color: coral; */
  width: 25rem;
  height: auto;
  transform: translate(-1.5rem, 0);
}

.header-img-right-container {
  align-self: flex-end;
}

.header-img-right {
  /* background-color: coral; */
  width: 25rem;
  height: auto;
  transform: translate(1.5rem, 0);
}

.center-container {
  /* background-color: rgb(246, 177, 246); */
  width: 100%;
  height: auto;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0rem;
}

.center-imgs {
  width: 16rem;
  height: auto;
  border-radius: 0.5rem;
}

.center-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-sub-head {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--Cyan-600);
  font-weight: 800;
  letter-spacing: 0.25rem;
}

.center-header {
  width: 35%;
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--Slate-900);
  padding: 0.5rem 0rem 2rem 0rem;
  line-height: 1;
}

.center-text {
  width: 37.5%;
  color: var(--Slate-600);
  line-height: 1.5;
}

.num-02-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.num-02-icon {
  transform: translate(0rem, 28px);
}

.footer-info {
  background-image: url(/images/desktop/image-footer.jpg);
  background-color: var(--Cyan-600);
  background-blend-mode: multiply;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  width: 100%;
  color: var(--White);
}

.footer-header {
  font-size: 2.5rem;
}

.footer-text {
  font-size: 1.25rem;
  padding: 0rem 10rem;
}

.footer .download-btn {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  padding: 1.25rem;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--Purple-600);
  background-size: cover;
}

.footer .download-btn-ver {
  color: var(--Purple-300);
}

.footer .download-btn:hover {
  background-color: var(--Purple-300);
}
