:root {
  --Cyan-600: rgb(77, 150, 168);
  --Cyan-300: rgb(143, 227, 249);
  --Purple-600: rgb(133, 95, 177);
  --Purple-300: rgb(217, 184, 255);
  --Slate-900: rgb(40, 40, 61);
  --Slate-600: rgb(135, 135, 157);
  --Slate-300: rgb(209, 209, 223);
  --White: rgb(250, 250, 250);
}

/* STYLES */
/* FONT SIZES: 64, 40, 18, 16  */
/* (4, 2.5, 1.125, 1) */
/* SPACING: 112, 80, 72, 64, 56, 40, 32, 24, 16, 8, 4 */
/* (7, 5, 4.5, 4, 3.5, 2.5, 2, 1.5, 1, 0.5, 0.25) */

html {
  font-size: clamp(10px, 1.125vw, 20px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  /* including both vw and dvw to account for mobile/tablet UI elements not seen in the chrome dev tools*/
  width: 100dvw;
  width: 100vw;
  height: auto;
}

.header {
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 7rem;
}

.company-img {
  transform: translate(-2rem, 0px);
}

.header-middle {
  background-color: aqua;
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
}

.header-img-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.header-info {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: center;
  padding: 0rem 1rem;
}

.header-title {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.header-text {
  padding-top: 2rem;
  font-size: 1.25rem;
}

.header-img-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.header-img {
  width: 75%;
  height: auto;
}
